/* Variables */

:root {

  --basic-black: #000000;
  --basic-white: #ffffff;
  --yellow: #EFC849;
  --green: #00CA74;
  --red: #FB565A;
  --gray: #EEEEEE;
  --light-gray: #E1E1E1;
  --dark-white: #f2f2f2;
  --special-red: #E74246;
  --special-red-one: #D7373B;
  --special-green: #00BC6C;
  --special-green-one: #00AA62;
  --special-yellow: #EAB534;
  --special-yellow-one: #E5A722;
  --special-gray: #DFDFDF;
  --special-gray-one: #D5D5D5;
  --special-black: #283136;
  --special-black-one: #4D4D4D;
  --special-black-two: #283136;

  --text-color: var(--basic-black);
  --additional-text-color: var(--basic-white);
  --filter-text-color: var(--special-black);
  --hover-text-color: var(--red);
  --background-additional-color: var(--gray);
  --background-main-color: var(--basic-white);
  --background-sites-color: var(--red);
  --background-sites-hover-color: var(--special-red);
  --background-sites-focus-color: var(--special-red-one);
  --background-apps-color: var(--green);
  --background-apps-hover-color: var(--special-green);
  --background-apps-focus-color: var(--special-green-one);
  --background-presentations-color: var(--yellow);
  --background-presentations-hover-color: var(--special-yellow);
  --background-presentations--focus-color: var(--special-yellow-one);
  --background-learn-button-color: var(--red);
  --background-learn-button-hover-color: var(--special-red);
  --background-learn-button-focus-color: var(--special-red-one);
  --background-social-button-color: var(--light-gray);
  --background-social-button-color: var(--special-red);
  --background-social-button-color: var(--special-red-one);
  --background-show-button-color: var(--gray);
  --background-show-button-hover-color: var(--special-gray);
  --background-show-button-focus-color: var(--special-gray-one);
  --background-pagination-color: var(--gray);
  --background-pagination-hover-color: var(--special-gray);
  --background-pagination-focus-color: var(--special-gray-one);
  --background-pagination-active-color: var(--basic-black);
  --background-price-button-color: var(--red);
  --background-price-button-hover-color: var(--special-red);
  --background-price-button-focus-color: var(--special-red-one);
  --background-catalog-info-color: var(--gray);
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 1157px;
}

.page-body {
  background-color: var(--background-main-color);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
}

/*Header*/

.main-header {
  background-color: var(--background-additional-color);
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 1157px;
  margin: 0 auto;
  padding-bottom: 9px;
  display: inline-flex;
  justify-content: space-between;
}


/*Main navigation*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-color);
  list-style: none;
  background-color: transparent;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  width: 437px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  margin-right: 246px;
  margin-left: 203,13px;
  align-self: center;
}

.main-logo {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  width: 159,87px;
  height: 65,02px;
  margin-right: 203,13px;
}

.main-logo:hover {
    opacity: 0.7;
}

.main-logo:focus {
    opacity: 0.3;
}

.main-navigation li a:hover {
  color: var(--hover-text-color);
}

.main-navigation li a:focus {
  color: var(--text-color);
  opacity: 0.3;
  }

.main-navigation li a:active {
  text-decoration: underline;
}

.user-login {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-color);
  outline: 5px solid rgba(0, 255, 0, 0.3);
  max-width: 75px;
  padding-left: 40px;
  padding-right: 0;
}

.user-login a:hover {
  color: var(--hover-text-color);
}

.user-login a:focus {
  color: var(--text-color);
  opacity: 0.3;
}

.user-login a:active {
  text-decoration: underline;
  color: var(--text-color);
}

.main-slider {
  display: grid;
  grid-template-columns: 400px 760px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  width: 1157px;
  background-color: var(--background-additional-color);
}

.main-wrapper-left {
outline: 5px solid rgba(0, 255, 0, 0.3);
width: 400px;
}

.main-wrapper-right {
outline: 5px solid rgba(0, 255, 0, 0.3);
width: 760px;
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.learn-more {
  background-color: var(--background-main-color);
  text-align: center;
  background-color: var(--background-learn-button-color);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--additional-text-color);
}

.learn-more a:hover {
  background-color: var(--background-learn-button-hover-color);
}

.learn-more a:focus {
  background-color: var(--background-learn-button-focus-color);
  opacity: 0,3;
}


/* Services */

.services {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 100px;
}

.service-item  {
  font-size: 24px;
  line-height: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-item-name {
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  line-height: 24px;
}

.order {
  background-color: var(--background-main-color);
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--additional-text-color);
}

.sites {
  background-color: var(--background-sites-color);
}

.sites a:hover {
  background-color: var(--background-sites-hover-color);
}

.sites a:focus {
  background-color: var(--background-sites-focus-color);
  opacity: 0.3;
}

.apps {
  background-color: var(--background-apps-color);
}

.apps a:hover {
  background-color: var(--background-apps-hover-color);
}

.apps a:focus {
  background-color: var(--background-apps-focus-color);
  opacity: 0.3;
}

.presentations {
  background-color: var(--background-presentations-color);
}

.presentations a:hover {
  background-color: var(--background-presentations-hover-color);
}

.presentations a:focus {
  background-color: var(--background-presentations--focus-color);
  opacity: 0.3;
}

/* About-us */

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-us {
display: grid;
grid-template-columns: 651px 360px;
grid-column-gap: 149px;
width: 1157px;
margin: 0 auto;
}

.logo {
  width: 360px;
  height: 208px;
  margin: 0;
}
.about-us h3 {
  font-weight: 700;
}

.features-wrapper-right {
  justify-content: center;

}

.about-us .feature h3 {
  text-align: center;
}

.suggestion {
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 40px;
}

.feature {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 31px;
}

.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percent-name {
  font-size: 16px;
  line-height: 18px;
}

sup {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.our-partners {
  list-style: none;
  opacity: 0.2;
  display: grid;
  grid-template-columns: 298px 298px 298px 298px;
  margin: 0 auto;
}

.our-partners li a:hover {
  opacity: 1;
}

.our-partners li a:focus {
  opacity: 0,1;
}

/* Main footer */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-footer {
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
margin: 0 auto;
}

.our-contacts {
  display: inline-flex;
}

.social-button {
  background-color: var(--background-social-button-color);
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  width: 261px;
}

.social-button a:hover {
  background-color: var(--background-sites-hover-color);
}

.social-button a:focus {
  opacity: 0,3;
  background-color: var(--background-sites-focus-color);
}

.contacts-wrapper-left {
  padding-left: 139px;
  text-align: left;
}


.appeal {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount {
  line-height: 22px;
}

/* Catalog */

.inner-page {
  background-color: var(--background-main-color);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--background-additional-color);
  text-align: center;
  padding-top: 87px;
  padding-bottom: 108px;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 1160px;
  grid-column-gap: 140px;

}

/* Filters */

.catalog-list {

}

.catalog {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-item {
  width: 360px;
  height: 578px;
  margin-bottom: 31px;
}

.catalog-container {
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.filters-1 {
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.cost-meaning {
  line-height: 22px;
}

.net-labels, .features-labels {
  line-height: 20px;
  color: var(--filter-text-color);
}

.filter-container {
  width: 208px;
}


.sorting-labels {
  color: var(--text-color);
  opacity: 0.3;
}

.sorting-labels:hover {
  color: var(--text-color);
  opacity: 0.6;
}

.sorting-labels:focus {
  color: var(--text-color);
}

.show {
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  background-color: var(--background-show-button-color);
  text-transform: uppercase;
  margin-top: 50px;
}

.show button:hover {
  background-color: var(--background-show-button-hover-color);
}

.show button:focus {
  opacity: 0,3;
  background-color: var(--background-show-button-focus-color);
  box-shadow: 0 3 0px rgba(0, 1, 1, 0.1);
}

/* Catalog-list */

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--background-main-color);
}

.catalog-item a:hover {
  background-color: #f2f2f2;
  box-shadow: 0 6 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
  background-color: var(--background-additional-color);
}

.product-info {
  background-color: var(--background-catalog-info-color);
}

.catalog-item-info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.catalog-item-info h3 a:hover {
  color: var(--hover-text-color);
}

.catalog-item-info h3 a:focus {
  color: var(--text-color);
  opacity: 0.3;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.catalog-item-price {
  background-color: var(--background-price-button-color);
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-price button:hover {
  background-color: var(--background-price-button-hover-color);
}

.catalog-item-price button:focus {
  background-color: var(--background-price-button-focus-color);
  opacity: 0,3;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--background-pagination-color);
  color: var(--text-color);
}

.pagination-item a:hover {
  background-color: var(--background-pagination-hover-color);
}

.pagination-item a:focus {
  opacity: 0,3;
  background-color: var(--background-pagination-focus-color);
  box-shadow: 0 3 0px rgba(0, 1, 1, 0.1);
}

.pagination-item a:active {
  background-color: var(--background-pagination-active-color);
  box-shadow: rgba(0, 0, 0, 0.0001);
}

